<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 - 예약목록</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/mypage.css}"/>
    <script th:src="@{/js/mypage.js}"></script>
</head>
<body>
<header class="header-style">
    <div class="header-container">
        <div>
            <img th:src="@{/img/logo_square.jpg}" class="logo-img" alt="logo image">
        </div>
        <div></div>
        <div class="button-container">
            <button class="mypage-button">My Page</button>
        </div>
    </div>
</header>
<hr/>
<section class="section-style">
    <div class="section-left">좌측 영역 입니다.</div>
    <div class="section-right">
        <div class="title-area">
            <div class="booklist-title">나의 예약 리스트</div>
            <div class="go-booking">
                <div class="go-booking-message"><span class="yogi-bold">여기묵자</span>와 함께</div>
                <div class="go-booking-sub-message">새로운 여행을 시작해 볼까요?</div>
                <div class="go-booking-button">여행지 찾아보기</div>
            </div>
        </div>
        <div class="content-area">
            <div class="section-right content-area">
                <div class="booklist-title">
                    <br/>예약 목록(최신순 5개)<br/><br/>
                    <div class="booklist-container">
                        <div th:each="booking : ${bookings.content}" class="booklist-card">
                            <div>
                                <img th:src="@{/img/logo_square.jpg}" alt="Host Image 영역">
                            </div>
                            <div>
                                <div class="booklist-card-bookstatus" th:text="${booking.formattedBookStatus}"></div>
                                <span class="booklist-card-hostname" th:text="${booking.hostName}"></span><br/>
                                <span class="booklist-card-roomname" th:text="${booking.roomName}"></span>
                            </div>
                            <div>
                                <div class="booklist-card-viewinfo">
                                    <span class="info-label">체크인 날짜:
                                    <span class="info-data" th:text="${booking.formattedCheckInDate}"></span></span>
                                    <span class="info-label">체크아웃 날짜:
                                    <span class="info-data" th:text="${booking.formattedCheckOutDate}"></span></span>
                                    <span class="info-label">예약자명:
                                    <span class="info-data" th:text="${booking.guestName}"></span></span>
                                    <span class="info-label">이용금액:
                                    <span class="info-data" th:text="${booking.formattedPayPrice}"></span></span>
                                    <span class="info-label">결제일자:
                                    <span class="info-data" th:text="${#temporals.format(booking.payDate, 'yyyy년 M월 d일 HH:mm')}"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <hr/>페이징 처리 영역
                    <div>
                        <ul>
                            <li th:if="${currentPage > 0}">
                                <a th:href="@{/mypage/bookinglist(memberId=${memberId}, page=${currentPage - 1}, size=${bookings.size})}">Previous</a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                <a th:href="@{/mypage/bookinglist(memberId=${memberId}, page=${i}, size=${bookings.size})}" th:text="${i + 1}"></a>
                            </li>
                            <li th:if="${currentPage < totalPages - 1}">
                                <a th:href="@{/mypage/bookinglist(memberId=${memberId}, page=${currentPage + 1}, size=${bookings.size})}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
