/* header.css */
.header-style {
    margin-left: 15%;
    margin-right: 15%;
}
.header-container {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
}
.logo-img {
    display: block;
    width: 80px;
    overflow: hidden;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mypage-button {
    margin: auto;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    /*background: lightblue;*/
    background: #E38842;
    /*color: black;*/
    color: white;
    border: none;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    transition: background-color 0.3s, transform 0.3s; /* 호버 시 배경색과 변형 전환 효과 */
}
.mypage-button:hover {
    color: white;
    background-color: #1c77bd; /* 호버 시 배경색 변경 */
    transform: scale(1.05); /* 호버 시 약간 확대 */
}