<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mugja.member.mapper.MemberMapper">

<insert id="createmember" parameterType="MemberDto">
 insert into mem	
 value(null,#{mem_email},#{mem_pwd},0,#{mem_grade});
 </insert> 
 
 <select id="emailserach" parameterType="String" resultType="int">
 select count(*)
 from mem where mem_email=#{mem_email}
 
 </select>
 
 <update id="randompwd" parameterType="MemberDto">
  update mem
 set mem_pwd=#{mem_pwd}
 where mem_email=#{mem_email}
 </update>
 
 <select id="pwdsearch" parameterType="String" resultType="String">
 select mem_pwd from mem
where mem_email=#{mem_email};
 </select>
 

</mapper>