<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.mugja.room.mapper.RoomMapper">

<insert id="roomwrite" parameterType="com.mugja.room.dto.RoomDto">
insert into room(room_id,host_id,room_maxcapacity,room_name,room_price,room_isbooked)	
 value(null,#{host_id},#{room_maxcapacity},#{room_name},#{room_price},0)
</insert> 


<!--host 게시글값  -->
<select id="gethostId" resultType="int">
select host_id from host
 order by host_id desc limit 1;
</select>

<!-- 룸id값 -->
<select id="getroomId" resultType="int" parameterType="com.mugja.room.dto.RoomDto">
select room_id 
from room where host_id=#{host_id}
</select>



</mapper>