<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
    <div th:include="view/common_head :: header"></div>
<div class="body">
    <div class="contents">
        <h2>관리자 페이지</h2>
        <button type="button" onclick="location.href='/mugja/admin/hostadd'">숙소 생성</button>
        <button type="button" onclick="location.href='/mugja/admin/hostlist'" >숙소 관리</button>
    </div>
</div>
</body>
<style>
    .body{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:100px;

    }
    .contents{
        width:165px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:20px;
    }
    .contents button{
        height:50px;
    }
</style>
</html>