<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>숙소 상세 페이지</title>
</head>
<body>
    <h1>숙소 상세 페이지</h1><hr/>
    <h2 style="font-weight: bold">여기묵자 강남점</h2>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"/></th>
                <th>숙소이름(HOST_NAM)</th>
                <th>객실이름(ROOM_NAME)</th>
                <th>객실정원(ROOM_MAXCAPACITY)</th>
                <th>객실가격(ROOM_PRICE)</th>
                <th>예약하기(버튼)</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>

use mugja; // 데이터 스키마명

insert into HOST (HOST_NAME, HOST_ADDRESS, HOST_CONTACT, HOST_INTRO, HOST_API)
values('여기묵자 강남점', '강남구 역삼동', '010-1234-5678', '여기묵자 강남점입니다.', '호스트 API가 뭔가요');

insert into ROOM (HOST_ID, ROOM_MAXCAPACITY, ROOM_PRICE, ROOM_NAME)
values(1, 2, 75000, '스탠다드 더블룸'),
(1, 2, 100000, '디럭스 트윈룸'),
(1, 2, 150000, '럭셔리 더블룸');

insert into BOOK (MEM_ID, HOST_ID, ROOM_ID, CHECKIN_DATE, CHECKOUT_DATE, GUEST_NAME, GUEST_CONTACT, PAY_TYPE, PAY_PRICE, PAY_DATE)
values(1, 1, 1, '2024-05-30', '2024-05-31', '재명', '010-1234-5678', 20, 75000, now());