<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- css불러오는 부분 -->
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/css/common/header.css">
<link rel="stylesheet" href="/css/common/main.css">
<link rel="stylesheet" href="/css/common/footer.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- 자바스크립트 입력부 -->
<script>
    //////////////////////////////////////////////////////////
    // Main 캘린더가 들어가는 부분
    $(function() {
        // jQuery UI Datepicker의 기본 설정
        $.datepicker.setDefaults({
            dateFormat: "yy-mm-dd",
            firstDay: 0, // 일요일을 첫 번째 요일로 설정
            dayNamesMin: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], // 요일 약어
        });

        var startDateTextBox = $("#startDate");
        var endDateTextBox = $("#endDate");

        // 시작 날짜 선택 시 호출되는 함수
        startDateTextBox.datepicker({
            onSelect: function(selectedDate) {
                // 시작 날짜를 선택하면 끝 날짜의 최소 날짜를 설정
                var minDate = $(this).datepicker('getDate');
                endDateTextBox.datepicker('option', 'minDate', minDate);
            }
        });

        // 끝 날짜 선택 시 호출되는 함수
        endDateTextBox.datepicker({
            onSelect: function(selectedDate) {
                // 끝 날짜를 선택하면 시작 날짜의 최대 날짜를 설정
                var maxDate = $(this).datepicker('getDate');
                startDateTextBox.datepicker('option', 'maxDate', maxDate);
            }
        });
    });
</script>
</head>

<body>
<!--    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
    <!-- -----------공통 헤더 시작------------- -->
    <div th:include="view/common_head :: header"></div>
    <!-----------헤더 - 메인컨텐츠 구분선---------->

    <!-- 메인페이지 -->
    <div class="contents">
        <div class="body_content">
            <!-- 메인 이미지 + 검색창 + 이미지 배너 -->
            <div class="banner">
                <!-- 검색창 + 소개글 영역 -->
                <div class="searchbar_intro">
                    <!-- 상단 소개글 영역 -->
                    <div class="intro">
                        <span>국내부터 해외까지</span>
                        <br>
                        <span>여행할때 여기묵자</span>
                    </div>
                    <!-- 여기서 검색해주세요 + 검색창 + 캘린더 + 서밋 영역 -->
                    <div class="search_bar">
                        <div class="seach1">
                            <div class="search_top">
                                여기서 검색해주세요.
                            </div>
                        </div>
                        <div class="bar">
                            <!-- 폼 태그 시작부 -->
                            <form role="search" class="search_context">
                                <div class="input_text">
                                    <div class="input_bar">
                                        <div class="input_text1">
                                            <!-- 실제 검색값 입력하는곳 -->
                                            <input name="search_item" type="text" placeholder="여행지나 숙소를 검색해보세요" maxlength="100" autocomplete="off" autocapitalize="none" autocorrect="off" spellcheck="false" class="input_text2" value="" method="post">
                                        </div>
                                    </div>
                                </div>
                                <!-- 검색줄 캘린더 시작 -->
                                <div class="calendar">
                                    <div class="calendar_context">
                                        <form action="/submit-dates" method="post">
                                            <!-- 캘린더 입실 날짜 -->
                                            <div class="check">
                                            <label for="startDate" class="label1">입실 날짜</label>
                                            <input type="text" id="startDate" name="startDate">
                                            </div>
                                            <!-- 캘린더 퇴실 날짜 -->
                                            <div class="check">
                                            <label for="endDate" class="label1">퇴실 날짜</label>
                                            <input type="text" id="endDate" name="endDate">
                                            </div>                 
                                    </div>
                                </div>
                                <!-- 검색버튼 영역 -->
                                <div class="search_btn">
                                    <!-- 버튼 액션 -->
                                    <button type="submit" class="search_btn1">
                                        <span>검색</span>
                                    </button>
                                    </form>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 배너이미지 -->
                <!-- <div class="banner_img"> -->
                    <img src="/img/banner.webp" class="banner_img" />
                <!-- </div> -->
            </div>

            <!-- -------------------------------------------------------------- -->
            <!-- 이벤트 카드 -->
            <section role="region" aria-label="이벤트카드" class="event_card">
                <div class="event_title">이벤트</div>
                <div class="event_img"><img src="/img/Event (10).jpeg"></div>
                <div class="event_img"><img src="/img/Event (9).jpeg"></div>
                <div class="event_img"><img src="/img/Event (1).jpeg"></div>
            </section>

            <!-- -------------------------------------------------------------- -->
            <!-- 지역별 카테고리 -->
            <section role="region" aria-label="지역별카드" class="city">
                <div class="city_title">국내 인기 여행지</div>
                <div class="city_img"><a href=""><img src="/img/city_seoul.jpeg">서울</div></a>
                <div class="city_img"><a href=""><img src="/img/city_jeju.jpeg">제주</div></a>
                <div class="city_img"><a href=""><img src="/img/city_busan.jpeg">부산</div></a>
                <div class="city_img"><a href=""><img src="/img/city_gang.jpeg">강릉</div></a>
                <div class="city_img"><a href=""><img src="/img/city_inchon.jpeg">인천</div></a>
                <div class="city_img"><a href=""><img src="/img/city_gyung.jpeg">경주</div></a>
            </section>
            <!-- 이벤트 배너 (회원가입 페이지로 이동 필요) -->
            <section role="region" aria-label="이벤트배너" class="event_login">
                <div class="event_left">
                    <div class="event_1">
                        <div class="event_11">회원가입만 해도 받는 엘리트 멤버십 혜택</div>
                        <div class="event_12">로그인 하면 멤버십 할인가로 예약할 수 있어요.</div>
                    </div>
                    <div class="event_2">
                        <!-- 회원가입 이동 버튼 (링크 걸어야함) -->
                        <button type="button" onclick="location.href=''" class="event_21">로그인/회원가입</button>
                    </div>
                </div>
                <div class="event_right">
                    <img src="/img/membership_event.webp" style="color: transparent;">
                </div>
            </section>

            <!-- -------------------------------------------------------------- -->
            <!-- 랜덤숙소 출력 (폐기됨) -->
            <!-- <section role="region" aria-label="인기 추천 숙소" class="recommand_host">인기 추천 숙소</section> -->

            <!-- -------------------------------------------------------------- -->
            <!-- QR태그 영역 (입력받는것 없음)-->
            <section role="region" aria-label="QR태그영역" class="event_tag">
                <div class="QR_intro">
                    <h2>QR태그하고 <br/> 더 많은 정보를 확인 해보세요</h2>
                    국내 숙소부터 맛집까지 <br>다양한 정보를 확인해보세요.
                    <img src="/img/QR_frame.png" style="width:96px;height:96px;border-radius: 10px;"/>
                </div>
            </section>

            <!-- -------------------------------------------------------------- -->
            <!-- 국내 여행지 영역 -->
            <section role="region" aria-label="국내여행지" class="spot">
                <div class="spot_title">국내 여행지</div>
                <div class="spot_list"><a href="">경기</a></div>
                <div class="spot_list"><a href="">제주도</a></div>
                <div class="spot_list"><a href="">충남</a></div>
                <div class="spot_list"><a href="">인천</a></div>
                <div class="spot_list"><a href="">대구</a></div>
                <div class="spot_list"><a href="">대전</a></div>
                <div class="spot_list"><a href="">서울</a></div>
                <div class="spot_list"><a href="">경남</a></div>
                <div class="spot_list"><a href="">부산</a></div>
                <div class="spot_list"><a href="">전북</a></div>
                <div class="spot_list"><a href="">울산</a></div>
                <div class="spot_list"><a href="">광주</a></div>
                <div class="spot_list"><a href="">강원</a></div>
                <div class="spot_list"><a href="">경북</a></div>
                <div class="spot_list"><a href="">전남</a></div>
                <div class="spot_list"><a href="">충북</a></div>
                <div class="spot_list"><a href="">세종</a></div>
            </section>
        </div>
    </div>


    <!-----------메인컨텐츠 - 푸터 구분선---------->

    <!-- footer -->
    <div class="contents_footer">
        <div class="footer">
            <div class="footer_top">
                <div class="cs_contect">
                <h3>고객센터</h3>
                오전 9시 - 새벽 3시 <br>
                운영안함
                </div>
                <div class="footer_menu">
                <div class="footer_menu1">
                    <div class="footer_menu2">
                        회사
                    </div> 
                    <div class="footer_menu3">
                        회사소개
                    </div>
                </div>

                <div class="footer_menu1">
                    <div class="footer_menu2">
                        서비스
                    </div> 
                    <div class="footer_menu3">
                        공지사항
                    </div>
                    <div class="footer_menu3">
                        자주묻는질문
                    </div>
                </div>

                <div class="footer_menu1">
                    <div class="footer_menu2">
                        혜택
                    </div> 
                    <div class="footer_menu3">
                        엘리트 멤버십
                    </div>
                    <div class="footer_menu3">
                        트립홀릭 혜택 안내
                    </div>
                    <div class="footer_menu3">
                        여기어때 상품권 조회
                    </div>
                </div>

                </div>
            </div>
            <div class="introduce">
            (주)여기묵자컴퍼니<br>
주소 : 서울 강남구 테헤란로 7길 7 1실 | 대표이사 : 카페인 | 사업자등록번호 : 123-45-09876<br>
(주)여기묵자컴퍼니는 어쩌고저쩌고로서 아아 드디어 끝났다, 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
</div>

        </div>
    </div>

    </div>
</body>
</html>