<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>비밀번호 변경창</title>
 <link rel="stylesheet" href="/css/member.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/mail.js"></script>
</head>
<body>
<form action="/mugja/login" method="post" id="passwordForm">
<div>현재 비밀번호<input type="password" name="mem_pwd" id="mem_pwd"></div>
<div>새 비밀번호<input type="password" name="password" id="password"></div>
<div>새 비밀번호 확인<input type="password" name="mem_pwd_ck" id="mem_pwd_ck"></div>
<div id="passwordMessage"></div>
<!-- <input type="submit" value="변경하기" id="pwdchg"/> -->
<button type="button" value="변경하기" id="pwdchg">변경</button>
</form>
</body>
</html>